/* 
* 	Soy Template for testing Soyer
*	Author:		MP
*	Date:		04/06/2012
*/

{namespace subwithspaces}


/**
 * Test 1
 */
{template .subfolder}
{msg desc="subwithspaces: hello test"}This is a subfolder with spaces!{/msg}
{/template}