/* 
* 	Soy Template for testing Soyer
*	Author:		MP
*	Date:		04/06/2012
*/

{namespace test2}


/**
 * Test 1
 */
{template .helloworld2}
{msg desc="hello test"}Hello again test script!{/msg}
{/template}


/**
 * Test 2
 * @param name
 */
{template .helloyou2}
{msg desc="hello you"}Hello {$name}.{/msg} 
{/template}