/* 
* 	Soy Template for testing Soyer
*	Author:		MP
*	Date:		04/06/2012
*/

{namespace test}


/**
 * Test 1
 */
{template .helloworld}
{msg desc="hello test"}Hello test script!{/msg}
{/template}


/**
 * Test 2
 * @param name
 */
{template .helloyou}
{msg desc="hello you"}Hello {$name}. How are you?{/msg} 
{/template}